/* Navigation styles */
.logo{
    background: white;
    height: 230px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}
/* Column styles */

/* Footer Styles */
